 * {
    box-sizing: border-box;
 }

 body {
    display: flex;
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #c7c5ca;
    height: 100vh;
    align-items: center;
    justify-content: center;
 }

  .container {
    max-width: 500px;
    background-color: #282035;
    box-shadow: 15px  #3e3b41;
  }

  nav {
    display: flex;
    align-items: center;
    background-color: #212224;
    height: 90px;
    padding: 30px 25px;
  }

  .nav--logo_text, .nav-title {
    margin: 0;
  }

  .nav--icons {
    height: 30px;
    margin-right: 7px;
  }

  .nav--logo_text {
    margin-right: auto;
    color: #61DAF8;
    font-weight: 700;
    font-size: 22px;
  }

  .nav--title {
    color: #deebf8;
    font-weight: 600;
  }

  main {
    padding: 57px 27px;
     color: white;
    }

  .main--title {
    margin: 0;
    font-size: 39px;
    color: #deebf8;
    letter-spacing: -0.05em;
  }

  .main--facts {
    margin-top: 46px;
    max-width: 400px;
   }

   .main--facts > li {
   padding-block: 10px;
    line-height: 19px;
   }

   .main--facts > li::marker {
    font-size: 1.4rem;
   }